In [4]:
import pandas as pd

In [12]:
actors_name = pd.read_csv("name.basics.tsv",error_bad_lines=False)

b'Skipping line 31008: expected 6 fields, saw 7\n'
b'Skipping line 155932: expected 6 fields, saw 7\nSkipping line 207649: expected 6 fields, saw 7\n'
b'Skipping line 357850: expected 6 fields, saw 7\n'
b'Skipping line 428975: expected 6 fields, saw 7\nSkipping line 483334: expected 6 fields, saw 7\n'
b'Skipping line 748783: expected 6 fields, saw 7\n'
b'Skipping line 856774: expected 6 fields, saw 7\nSkipping line 904729: expected 6 fields, saw 7\n'
b'Skipping line 996691: expected 6 fields, saw 7\n'
b'Skipping line 1391559: expected 6 fields, saw 7\n'
b'Skipping line 1703773: expected 6 fields, saw 7\n'
b'Skipping line 1895803: expected 6 fields, saw 8\n'
b'Skipping line 2223800: expected 6 fields, saw 7\n'
b'Skipping line 2287894: expected 6 fields, saw 7\n'
b'Skipping line 2657623: expected 6 fields, saw 7\n'
b'Skipping line 2802362: expected 6 fields, saw 8\n'
b'Skipping line 3058485: expected 6 fields, saw 7\nSkipping line 3115825: expected 6 fields, saw 8\n'
b'Skipping line 3207090: expected 6 fields, saw 7\n'
b'Skipping line 3550029: expected 6 fields, saw 7\nSkipping line 3660141: expected 6 fields, saw 8\n'
b'Skipping line 3844126: expected 6 fields, saw 7\n'
b'Skipping line 4237675: expected 6 fields, saw 7\n'
b'Skipping line 4518887: expected 6 fields, saw 8\n'
b'Skipping line 4607231: expected 6 fields, saw 7\n'
b'Skipping line 5212670: expected 6 fields, saw 7\n'
b'Skipping line 5370750: expected 6 fields, saw 8\n'
b'Skipping line 5501711: expected 6 fields, saw 7\n'
b'Skipping line 6258108: expected 6 fields, saw 7\nSkipping line 6273567: expected 6 fields, saw 7\n'
b'Skipping line 6496699: expected 6 fields, saw 8\n'
b'Skipping line 6955761: expected 6 fields, saw 7\n'
b'Skipping line 7103418: expected 6 fields, saw 7\n'
b'Skipping line 7264731: expected 6 fields, saw 7\n'
b'Skipping line 7739616: expected 6 fields, saw 7\nSkipping line 7812989: expected 6 fields, saw 7\n'
b'Skipping line 8089260: expected 6 fields, saw 7\n'
b'Skipping line 8505852: expected 6 fields, saw 7\n'
b'Skipping line 8840995: expected 6 fields, saw 7\n'
b'Skipping line 9132877: expected 6 fields, saw 7\n'

In [2]:
ls

1.csv                        movie_year.csv    title.crew.tsv
actor_age.csv                name.basics.tsv   title.episode.tsv
age_rating.csv               name_t_temp.tsv   title.principals.tsv
averageRating_overyear.csv*  people_year.csv   title.ratings.tsv
casts_local_csv/             principals.csv    Untitled.ipynb
movies_crew.csv              title.akas.tsv
movies.csv                   title.basics.tsv

In [10]:
actors_name.shape

(142145, 1)

In [14]:
actors_name.head()

                                                                                                                   nconst\tprimaryName\tbirthYear\tdeathYear\tprimaryProfession\tknownForTitles
nm0000001\tFred Astaire\t1899\t1987\tsoundtrack actor                 miscellaneous\ttt0072308 tt0050419 tt0043044                                          tt0053137
nm0000002\tLauren Bacall\t1924\t2014\tactress   soundtrack\ttt0071877 tt0117057                tt0037382 tt0038355                                                NaN
nm0000003\tBrigitte Bardot\t1934\t\N\tactress   soundtrack            producer\ttt0049189      tt0057345 tt0054452                                          tt0059956
nm0000004\tJohn Belushi\t1949\t1982\tactor      writer                soundtrack\ttt0078723    tt0077975 tt0072562                                          tt0080455
nm0000005\tIngmar Bergman\t1918\t2007\twriter   director              actor\ttt0050976         tt0083922 tt0069467                                          tt0050986

In [15]:
import pyspark as ps

spark = (ps.sql.SparkSession
        .builder
        .master('local[4]')
        .appName('lecture')
        .getOrCreate()
    )

sc = spark.sparkContext

def transform_to_df(path):
    return spark.read.csv(path,
                         header=True,       
                         quote='"',        
                         sep="\t",          
                         inferSchema=True)

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
average_rating_over_year= transform_to_df("averageRating_overyear.csv", ",")